.banner{
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
    .banimg{
        height: 100%;
        width: 70%;
        object-fit: cover;
        filter: brightness(70%);
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 40px;
            box-shadow: 0 0 20px rgba(0,0,0,0.5);
        }
    }
}