@import './color';

.hero{
    height: 100vh;
    width: 100%;
    background-image: url('./hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .hero-details{
        width: 45%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .herodata{
            height: 80%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: white;

            p{
                font-size: 3vw;
                width: 60%;
                text-align: center;
                font-weight: 600;
            }
        }

        .dish{
            height: 20%;
            width: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .dishimg{
                height: 80%;
                width: 15%;
                border-radius: 50%;
                object-fit: cover;
                border: 4px solid $secondary;
                box-shadow: 0 0 10px rgba(0,0,0,0.3);
                transition: transform 0.3s ease;

                &:hover{
                    transform: scale(1.1);
                }

                img{
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }   
        }
        
    }
}